main {
    margin-top: 10%;
}

#logo_header {
    width: 20%;
}

#logo_footer {
    width: 50%;
}

#header-div {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

#logo-div {
    width: 5%;
}

#menu-div {
    width: 95%;
}